# Node.js / React
node_modules/
dist/
build/
.vite/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python / Django
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
**/migrations/
!**/migrations/__init__.py

# IDE/editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
